#fondo{
    background:#DCDCDC;
}
#texto1{
    width: 500px;
    height: 500px;
    position: relative;
    left: 5px;  
    text-align: justify;
    font-size: 30px;
    margin-left: 10%;
    
}
#titulo{
    background-color: grey;
    width: 100%;
    text-align: center;
    font-size: 80px;
    position: relative;
    margin-top: 5%;

}
#boton{
    position: relative;
    float: right;
    top: -500px;
    margin-right: 10%;
    border-radius: 15px;
    box-shadow: 5px 5px 0px #424242;
    border: 0px;
}
#lista{
    text-align: left;
}
#fondo2{
    background:#c3c3c3;
}
/*TARAPACÁ*/
#todotarapaca{
    position: relative;
}
#tarapaca{
    position: absolute;
    text-align: center;
    left: 300px;
}
#linea{
    position: relative;
    left: 100px;
    top: 140px;
}
#basicam{
    position: absolute;
    left: 200px;
    font-size: 10;
}
#mediam{
    position: absolute;
    left: 300px;
    font-size: 10px;
}
#tecnicom{
    position: absolute;
    left: 410px;
    font-size: 10px;
}
#fotosm{
    position: absolute;
    top: 80px;
}

#mujeres{
    position: absolute;
}
#ingresom{
    position: absolute;
    left: 480px;
    font-size: 10;
}
#um{
    position: absolute;
    left: 560px;
    font-size: 10;
}
#fotosh{
    position: absolute;
    top: 180px;
}
#basicah{
    position: absolute;
    left:290px;
    font-size: 10;
}
#mediah{
    position: absolute;
    left: 420px;
    font-size: 10px;
}
#tecnicoh{
    position: absolute;
    left: 600px;
    font-size: 10;
}
#uh{
    position: absolute;
    left: 700px;
    font-size: 10;
}
#hombres{
    position: absolute;
}


/*ARAUCANIA*/
#todoaraucania{
    position: relative;
    top: 250px;
    
}
#araucania{
    position: absolute;
    text-align: center;
    left: 300px;
    top:15px;
}
#lineaara{
    position: relative;
    left: 100px;
    top: 140px;
}
#basicamara{
    position: absolute;
    left: 180px;
    font-size: 10;
}
#mediamara{
    position: absolute;
    left: 250px;
    font-size: 10px;
}
#tecnicomara{
    position: absolute;
    left: 350px;
    font-size: 10;
}
#fotosmara{
    position: absolute;
    top: 80px;
}

#mujeresara{
    position: absolute;
}
#ingresomara{
    position: absolute;
    left: 490px;
    font-size: 10;
}
#umara{
    position: absolute;
    left: 560px;
    font-size: 10;
}
#fotoshara{
    position: absolute;
    top: 180px;
}
#basicahara{
    position: absolute;
    left:240px;
    font-size: 10;
}
#mediahara{
    position: absolute;
    left: 330px;
    font-size: 10px;
}
#tecnicohara{
    position: absolute;
    left: 430px;
    font-size: 10;
}
#uhara{
    position: absolute;
    left: 630px;
    font-size: 10;
}
#hombresara{
    position: absolute;
}