body{
    background: url(fondo_inicio.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
#flecha{
    position: relative;
    top: 500px;
    left: 45vw;
    /* position: center; */
    background: transparent;
    border: transparent;
    height: 10px;
}
#titulo{
    position: relative;
    top: 300px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70;
    font-weight: bolder;
}
#texto{
    position: relative;
    text-align: center;
    top: 270px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30;
    
}
