body{
    background: url(fondo_inicio_tit.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
#flecha{
    position: relative;
    top: 700px;
    left: 650px;
    background: transparent;
    border: transparent;
    height: 10px;
    

}
